@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gochi+Hand&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: Inter, Anton, Handlee, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-anton: Anton, sans-serif;
  --font-gochi: Gochi Hand, sans-serif;
  --font-inter: Inter, sans-serif;
  --color-dark-purple: #28112B;
  --color-eerie-black: #222222;
  --color-indigo: #9883E5;
  --color-dark-background: #101010;
  --color-midnight: #0E1616;
  --color-night: #171614;
  --color-penn-blue: #111344;
  --color-space-cadet: #2E294E;
  --color-oxford-blue: #0B132B;
  --color-russian-violet: #0B032D;
  --color-isabelline: #F4F3EE;
  --color-persian-pink: #F896D8;
  --color-border-default: #1d2628;
  --color-feint-text: #586d8c;
  --color-layer-transparent: #14171caa;
  --color-black: #0b1012;
  --color-pill-text: #5eead4;
  --color-pill-background: #2dd4bf1a;
  --color-ice: #F5F5F7;
  --color-sun: #FFC15E;
}

.line-grow-animation {
  width: 50%;
  transition: width 1s ease-in-out;
}

.cursor-pencil {
  cursor: url('/cursors/pencil-cursor.png') 0 0, auto;
}

.hideScroll {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.hideScroll::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
